.googleLogin {
  width: 300px;
  height: 90px;
  display: flex;
  align-items: center;
}
.googleIcon {
  width: 70px;
  height: 70px;
}
.loginText {
  font-size: larger;
}
.loginPage {
  display: block;
}
